@import "./color"

.cs-page
  &-background
    z-index: -1
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #fff
  &-content
    font-family: 'Source Sans Pro', sans-serif

// general things
.cs
  &-margin
    margin-top: 36px
  &-center
    margin: 0 auto

// example: wrapping forms for signup signin
.cs-panel
  &
    padding: 18px
    background: #fff
    border: 1px solid $color-main-light
    color: #555
  hr
    height: 1px
    background: #eee
    border: 0
  &-title
    font-size: 24px
    line-height: 48px
  &-desc
    font-size: 18px
    line-height: 36px
  &-title, &-desc
    text-align: center

.cs-form
  label
    color: #999
  &-errors
    color: #c66
    margin-bottom: 12px
  &-control
    input, button
      box-sizing: border-box
      width: 100%
      font-weight: normal
      height: 36px
      line-height: 36px
      padding: 0 12px
      margin: 12px 0

    input
      font-size: 18px
      border: 1px solid $color-sub-light

    button
      cursor: pointer
      font-size: 18px

.cs-button
  &-success
    background: $color-positive
    border: 1px solid $color-positive-dark
    color: $color-positive-text

.cs-page
  width: 100%
  height: 100%
